# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Ensure Plausible Analytics path exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
    owner: "{{ plausible_uid }}"
    group: "{{ plausible_gid }}"
  with_items:
    - "{{ plausible_base_path }}"

- name: Ensure Plausible Analytics support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ plausible_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ plausible_uid }}"
    group: "{{ plausible_gid }}"
  with_items:
    - env
    - labels
  register: plausible_support_files_result

- name: Run if self-building of Plausible Analytics container image is not enabled
  when: "not plausible_container_image_self_build | bool"
  block:
    - name: Ensure Plausible Analytics container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ plausible_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ plausible_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else plausible_container_image_force_pull }}"
      register: plausible_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: plausible_container_image_pull_result is not failed

    - name: Ensure Plausible Analytics container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ plausible_container_image }}"
      register: plausible_container_image_pull_result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: plausible_container_image_pull_result is not failed
      changed_when: "'Downloaded newer image' in plausible_container_image_pull_result.stdout"

- name: Run if self-building of Plausible Analytics container image is enabled
  when: "plausible_container_image_self_build | bool"
  block:
    - name: Ensure Plausible Analytics repository is present on self-build
      ansible.builtin.git:
        repo: "{{ plausible_container_image_self_build_repo }}"
        version: "{{ plausible_container_image_self_build_repo_version }}"
        dest: "{{ plausible_container_image_self_build_src_files_path }}"
        force: "yes"
      register: plausible_git_pull_results

    # Invoking the `docker build` command here, instead of calling the `docker_image` Ansible module,
    # because the latter does not support BuildKit.
    # See: https://github.com/ansible-collections/community.general/issues/514
    - name: Ensure Plausible Analytics container image is built
      ansible.builtin.shell:
        chdir: "{{ plausible_container_image_self_build_src_files_path }}"
        cmd: |
          {{ devture_systemd_docker_base_host_command_docker }} build \
          -t "{{ plausible_container_image_self_build_name }}" \
          -f Dockerfile \
          .
      environment:
        DOCKER_BUILDKIT: "1"
      register: plausible_container_image_build_result
      changed_when: "'Successfully built' in plausible_container_image_build_result.stdout or ('writing image' in plausible_container_image_build_result.stderr and 'CACHED' not in plausible_container_image_build_result.stderr)"

- name: Ensure Plausible Analytics container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ plausible_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"
  register: plausible_network_creation_result

- name: Ensure Plausible Analytics container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ plausible_container_network }}
  register: plausible_network_creation_result
  changed_when: plausible_network_creation_result.rc == 0
  failed_when: plausible_network_creation_result.rc != 0 and 'already exists' not in plausible_network_creation_result.stderr

- name: Ensure Plausible Analytics systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/plausible.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ plausible_identifier }}.service"
    mode: "0644"
  register: plausible_systemd_service_result

- name: Determine whether Plausible Analytics needs a restart
  ansible.builtin.set_fact:
    plausible_restart_necessary: >-
      {{
        plausible_support_files_result.changed | default(false)
        or plausible_systemd_service_result.changed | default(false)
        or plausible_container_image_pull_result.changed | default(false)
        or plausible_container_image_build_result.changed | default(false)
      }}
