# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Plausible Analytics systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ plausible_identifier }}.service"
  register: plausible_service_stat

- name: Uninstall Plausible Analytics systemd services and files
  when: plausible_service_stat.stat.exists | bool
  block:
    - name: Ensure Plausible Analytics systemd service is stopped
      ansible.builtin.service:
        name: "{{ plausible_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Plausible Analytics systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ plausible_identifier }}.service"
        state: absent

    - name: Ensure Plausible Analytics container network does not exist
      when: plausible_container_network_deletion_enabled
      block:
        - name: Ensure Plausible Analytics container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ plausible_container_network }}"
            state: absent
          register: plausible_network_deletion_result

        - name: Ensure Plausible Analytics container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ plausible_container_network }}
          register: plausible_network_deletion_result
          changed_when: plausible_container_network in plausible_network_deletion_result.stdout

    - name: Ensure Plausible Analytics path does not exist
      ansible.builtin.file:
        path: "{{ plausible_base_path }}"
        state: absent
