{#
SPDX-FileCopyrightText: 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if plausible_container_labels_traefik_enabled %}
traefik.enable=true

{% if plausible_container_labels_traefik_docker_network %}
traefik.docker.network={{ plausible_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if plausible_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ plausible_identifier }}-slashless-redirect.redirectregex.regex=^({{ plausible_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ plausible_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [plausible_identifier + '-slashless-redirect'] %}
{% endif %}

{% if plausible_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ plausible_identifier }}-strip-prefix.stripprefix.prefixes={{ plausible_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [plausible_identifier + '-strip-prefix'] %}
{% endif %}

traefik.http.routers.{{ plausible_identifier }}.rule={{ plausible_container_labels_traefik_rule }}
{% if plausible_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ plausible_identifier }}.priority={{ plausible_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ plausible_identifier }}.service={{ plausible_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ plausible_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ plausible_identifier }}.entrypoints={{ plausible_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ plausible_identifier }}.tls={{ plausible_container_labels_traefik_tls | to_json }}
{% if plausible_container_labels_traefik_tls %}
traefik.http.routers.{{ plausible_identifier }}.tls.certResolver={{ plausible_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ plausible_identifier }}.loadbalancer.server.port={{ plausible_environment_variable_port }}
{% endif %}

{% for arg in plausible_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
